

Grader::Initializer.run do |config|
  
  config.problems_dir = GRADER_ROOT + "/test/sandbox/ev"
  config.user_result_dir = GRADER_ROOT + "/test/sandbox/result"
  
  config.talkative = false
  
  config.report_grader = false

  config.rails_env = 'test'
  
  config.report_comment = lambda do |comment|	
    comment.chomp
  end

  class << config
    attr_accessor :test_data_dir, :test_sandbox_dir
  end

  config.test_data_dir = GRADER_ROOT + "/test/data"
  config.test_sandbox_dir = GRADER_ROOT + "/test/sandbox"

end
